# npm
node_modules
package-lock.json
*.log
*.gz
.env

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Sequelize
config
migrations
seeders
models


# User-specific files
npm-debug.log*
# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore